@import "node_modules/react-vis/dist/style";

.page {
    margin: 0 auto;
    width: 800px;
}

.chart {
    width: 80%;
    
}

.MainPage-header {
    // background-color: orange;
    text-align: center;
}

.search-box {
    margin: 16px;
}